<div>
  <div style="display:flex; justify-content: center; gap: 50px; margin-bottom: 50px;">
    <button
      *ngFor="let item of products"
      (click)="getProductDetails(item.id)"
    >
      {{ item.id }}
    </button>
  </div>
  <div style="min-width: 400px; min-height: 300px; border: 1px solid gray">
    <div *ngIf="selectedProduct">
      <p>Product ID: {{ selectedProduct.id }}</p>
      <h4>{{ selectedProduct.title }}</h4>
      <p>{{ selectedProduct.category }}</p>
      <p>{{ selectedProduct.description }}</p>
    </div>
  </div>
</div>
